src/depthai_publisher/__pycache__/aruco_subscriber.cpython-38.pyc
src/depthai_publisher/__pycache__/dai_publisher_yolov5_runner.cpython-38.pyc
src/depthai_publisher/__pycache__/dai_publisher.cpython-38.pyc
